.btn{ 
    margin: 10px 0 15px 0; 
    display: flex;
    gap: 10px
}
.button{ 
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: 350ms;
}
.button:is(:hover, :focus){ 
    background-color: rgb(36, 44, 42);
    color: rgb(255, 255, 255);
}